@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}




<div class="woocommerce">
    <div class="woocommerce-notices-wrapper"></div><div class="pageCheckout">
        <div class="paddedContainer grid-x">
            <div class="paddedContainer__wrapper small-28 medium-24 xlarge-offset-4 large-28 xlarge-15">
                <div class="paddedContainer__col">
                    <div class="page-title">
                        <h1>@T("Account.PasswordRecovery")</h1>
                    </div>


                    @if (!String.IsNullOrEmpty(Model.Result))
                    {
                        <div class="result">
                            @Model.Result
                        </div>
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>

                        <div class="inputs">
                            @Html.LabelFor(model => model.Email, new { }, "*")
                            @Html.TextBoxFor(model => model.Email, new { @class = "email" })
                            @*@Html.RequiredHint()*@
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>

                        <div class="buttons">
                            @*<input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />*@
                            <button type="submit" name="send-email" class="hollow button" value="@T("Common.Save")">@T("Account.PasswordRecovery.RecoverButton")</button>

                        </div>
                    }





                </div>
            </div>
        </div>
    </div>
</div>