@using growonline.Core
@using growonline.Core.Infrastructure
@using growonline.Services.Localization
@using growonline.Web.Framework.Themes
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    string path = "Themes/BootstrapDC/Content/images/mainpage";
}


<style>
    .theme-custom {
        margin: 0px;
    }

    .view {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        box-shadow: 0px 0px 5px #aaa;
        cursor: default;
    }

        .view .mask, .view .content {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
        }

        .view img {
            display: block;
            position: relative;
        }

        .view a.info {
            /*background: url(/Themes/ShoesTemplate/Content/images/logo.png) center no-repeat;*/
            display: inline-block;
            text-decoration: none;
            padding: 0;
            width: 20px;
            height: 20px;
        }

    .second-effect .mask {
        opacity: 0;
        overflow: visible;
        border: 0px solid rgba(0,0,0,0.7);
        box-sizing: border-box;
        transition: all 0.4s ease-in-out;
    }

    .second-effect a.info {
        position: relative;
        top: -10px;
        opacity: 0;
        transform: scale(0,0);
        transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
    }

    .second-effect:hover .mask {
        padding-top: 50px;
        opacity: 1;
        background-color: rgba(0,0,0,0.7);
    }

    .second-effect:hover a.info {
        opacity: 1;
        transform: scale(1,1);
        transition-delay: 0.3s;
    }

    .third-effect .mask {
        opacity: 0;
        overflow: visible;
        border: 550px solid rgba(0,0,0,0.7);
        box-sizing: border-box;
        transition: all 0.4s ease-in-out;
    }

    .third-effect a.info {
        position: relative;
        top: -10px; /* Center the link */
        opacity: 0;
        transition: opacity 0.5s 0s ease-in-out;
    }

    .third-effect:hover .mask {
        opacity: 1;
        border: 550px solid rgba(0,0,0,0.7);
    }

    .third-effect:hover a.info {
        opacity: 1;
        transition-delay: 0.3s;
    }

    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

        .hovereffect .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: rgba(0,0,0,0.5);
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

        .hovereffect img {
            display: block;
            position: relative;
            -webkit-transition: all .4s linear;
            transition: all .4s linear;
        }

        .hovereffect h2 {
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            position: relative;
            font-size: 17px;
            background: rgba(0,0,0,0.6);
            -webkit-transform: translatey(-100px);
            -ms-transform: translatey(-100px);
            transform: translatey(-100px);
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            padding: 10px;
        }

        .hovereffect a.info {
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            color: #fff;
            border: 0px solid #fff;
            background-color: transparent;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            margin: 150px 0 0;
            padding: 7px 14px;
        }

            .hovereffect a.info:hover {
                /*box-shadow: 0 0 5px #fff;*/
            }

        .hovereffect:hover img {
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

        .hovereffect:hover .overlay {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        .hovereffect:hover h2, .hovereffect:hover a.info {
            opacity: 1;
            filter: alpha(opacity=100);
            -ms-transform: translatey(0);
            -webkit-transform: translatey(0);
            transform: translatey(0);
        }

        .hovereffect:hover a.info {
            -webkit-transition-delay: .2s;
            transition-delay: .2s;
        }
</style>

@Html.Widget("home_page_top")
@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageTopBanner" })

@*<div class="container">
        @Html.Widget("home_page_top")
    </div>*@



@*<div class="container-fluid">*@
    <!-- Page Content -->
    <div class="row container-fluid2 hidden-xs hidden-sm">
        <div class="col-md-6">
            <div class="col-md-6"><a href="/gift-cards-2">  <img class="img-responsive" src="Themes\BootstrapDC\Content\images\mainpage\1.jpg" alt="" style="width:100%" /></a></div>
            <div class="col-md-6">
                <a href="/festive-lawn-2017"> <img class="img-responsive" src="Themes\BootstrapDC\Content\images\mainpage\2.jpg" alt="" style="width:100%" /></a>
            </div>
            <div class="col-md-12"><a href="/festive-lawn-2017"><img class="img-responsive" src="Themes\BootstrapDC\Content\images\mainpage\36.png" alt="" style="width:100%;margin-top:11px" /></a></div>
        </div>
        <center>
            <div class="col-md-6">
                <a href="/festive-lawn-2017"><img class="img-responsive" src="Themes\BootstrapDC\Content\images\mainpage\46.jpg" style="width:92%" alt="" />
</div>
        </center>
    </div>
<div class="row no-margin nopadding hidden-md hidden-lg">
    <center>
        <div class="col-md-6">
            <div class="col-md-6"><a href="/gift-cards-2">  <img class="img-responsive" src="Themes\BootstrapDC\Content\images\mainpage\1.jpg" alt="" style="width:100%" /></a></div>
            <div class="col-md-6">
                <a href="/festive-lawn-2017"> <img class="img-responsive" src="Themes\BootstrapDC\Content\images\mainpage\2.jpg" alt="" style="width:100%" /></a>
            </div>
            <div class="col-md-12"><a href="/festive-lawn-2017"><img class="img-responsive" src="Themes\BootstrapDC\Content\images\mainpage\36.png" alt="" style="width:100%;margin-top:11px" /></a></div>
        </div>
    </center>
    <center>
        <div class="col-md-6">
            <a href="/festive-lawn-2017"> <img class="img-responsive" src="Themes\BootstrapDC\Content\images\mainpage\46.jpg" style="width:92%" alt="" />
</div>
    </center>
</div>
    <br />

    
        @*<div class="col-md-4">
              <img class="img-responsive" src="@path/Home_05.jpg"  alt="" />
            </div>
            <div class="col-md-4">
              <img class="img-responsive" src="@path/Home_06.jpg"  alt="" />
            </div>
            <div class="col-md-4">
              <img class="img-responsive" src="@path/Home_07.jpg"  alt="" />
            </div>*@
        <div class="col-md-12 hidden-md hidden-lg hidden-sm">
            <a href="javascript:abc();"><img style="width:100%;min-height:150px" class="img-responsive" src="Themes\BootstrapDC\Content\images\mainpage\6.jpg" /></a>
        </div>
<div class="col-md-12 hidden-xs">
    @*<a href="javascript:abc();"><img style="width:100%;min-height:150px;max-height:400px;height:400px" class="img-responsive" src="Themes\BootstrapDC\Content\images\mainpage\6.jpg" /></a>*@
	<a href="javascript:"><img style="width:100%;min-height:150px;max-height:400px;height:400px" class="img-responsive" src="Themes\BootstrapDC\Content\images\mainpage\6.jpg" /></a>
</div>


 
    <!-- /.container -->
    <div id="videopromo" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">


            <div class="modal-content">
                <div class="modal-header" style="border:none">
                    <button type="button" class="close" data-dismiss="modal" onclick="stop_player()">Skip</button>

                </div>

                <div class="modal-body">
                    <video width="100%" id="zunipromo" controls>
                        <source src="~/Themes/BootstrapDC/Content/promo/ZuniPromoVideoV03.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>

            </div>

        </div>
    </div>
    <button type="button" class="hide" data-toggle="modal" id="btnpop" data-target="#videopromo"></button>
    <div class=" container-fluid">
        @Html.Widget("home_page_bottom")
        <script>
            function abc(){
                $("#btnpop").click();
            }
             function stop_player() {
                    var player = document.getElementById("zunipromo");
                    player.pause();
                }
                $(window).on("load", function () {
                    
                });
            </script>
     
        @Html.Widget("home_page_before_categories")
        @Html.Action("HomepageCategories", "Catalog")
       


        @*@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })*@




        @Html.Widget("home_page_before_best_sellers")
        @Html.Action("HomepageBestSellers", "Product")
        @*@Html.Widget("home_page_before_news")
            @Html.Action("HomePageNews", "News")
            @Html.Widget("home_page_before_poll")
            @Html.Action("HomePagePolls", "Poll")
            @Html.Action("ManufacturerHomePage", "Catalog")*@
    </div>
	 @Html.Widget("home_page_before_products")
        @Html.Action("HomepageProducts", "Product")
    @Html.Widget("home_page_bottom")
