@model HeaderLinksModel
@using growonline.Web.Models.Common;


<div class="collapse navbar-collapse" id="top-header">
    <ul class="nav navbar-nav navbar-right header-links">
        @Html.Widget("header_links_before")
        @Html.Widget("header_links_after")
        @Html.Action("TaxTypeSelector", "Common")
        @Html.Action("CurrencySelector", "Common")
        @Html.Action("LanguageSelector", "Common")
        @Html.Widget("header_selectors")
        @if (Model.IsAuthenticated)
        {
            @*<li>
                <a href="@Url.RouteUrl("CustomerInfo")">




                    @Model.CustomerEmailUsername
                </a>
            </li>
            <li>
                <a href="@Url.RouteUrl("Logout")">

                    @T("Account.Logout")
                </a>
            </li>*@
             <li  class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    @*<span class="cart-label">@T("ShoppingCart")</span>*@
                    <table>
                        <tr>
                            <td><span class="fa fa-user" style="font-size:22px"></span></td>
                            <td>
                                <div style="line-height:14px; margin-left:10px">
                                    <div >Hello</div>
                                    <div>@Model.CustomerEmailUsername.Split('@')[0]</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="@Url.RouteUrl("CustomerInfo")"><span class="fa fa-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;My Account</a>
                    </li>
                    <li>
                        <a href="@Url.RouteUrl("Logout")">

                            <span class="fa fa-sign-out"></span>&nbsp;&nbsp;&nbsp;&nbsp;@T("Account.Logout")
                        </a>
                    </li>
                </ul>
            </li>
        }
        else
        {
           
            <li  class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    @*<span class="cart-label">@T("ShoppingCart")</span>*@
                    <table>
                        <tr>
                            <td><span class="fa fa-user" style="font-size:22px"></span></td>
                            <td>
                                <div style="line-height:14px; margin-left:10px">
                                   
                                    <div>Login</div>
                                </div>
                            </td>
                        </tr>
                    </table>




                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                       <a href="/login"><span class="fa fa-sign-in"></span>&nbsp;&nbsp;&nbsp;&nbsp;Sign In</a>
                    </li>
                    <li>
                        <a href="/register"><span class="fa fa-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;New Account</a>
                    </li>
                </ul>
            </li>
        }


        @if (Model.AllowPrivateMessages)
        {
            <li>
                <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })">
                    @*<span class="inbox-label">@T("PrivateMessages.Inbox")</span>*@
                    <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                </a>
            </li>
        }
        @if (Model.WishlistEnabled)
        {
            <li>
                <a href="@Url.RouteUrl("Wishlist")">
                    @*<span class="wishlist-label">@T("Wishlist")</span>*@

                    <table>
                        <tr>
                            <td><span class="fa fa-shopping-basket" style="font-size:20px"></span></td>
                            <td>
                                <div style="line-height: 14px; margin-left: 10px" class="li-item">
                                    <div>items <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span></div>
                                    <div>Wish list</div>
                                </div>
                            </td>
                        </tr>
                    </table>



                </a>
            </li>
        }
        <li>
            <a href="@Url.RouteUrl("compareproducts")">
                @*<span class="wishlist-label">@T("Wishlist")</span>*@

                <table>
                    <tr>
                        <td><span class="fa fa-exchange" style="font-size:20px"></span></td>
                        <td>
                            <div style="line-height: 14px; margin-left: 10px" class="li-item">
                                <div>Compare</div>
                                <div>Products</div>
                            </div>
                        </td>
                    </tr>
                </table>



            </a>
        </li>
        @if (Model.ShoppingCartEnabled)
        {
            <li id="topcartlink" class="dropdown ">
                <a href="@Url.RouteUrl("ShoppingCart")" class="dropdown-toggle" data-toggle="dropdown">
                    @*<span class="cart-label">@T("ShoppingCart")</span>*@
                    <table>
                        <tr>
                            <td><span class="fa fa-shopping-bag" style="font-size:22px"></span></td>
                            <td>
                                <div style="line-height:14px; margin-left:10px" class="li-item">
                                    <div >items <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span> </div>
                                    <div>Basket</div>
                                </div>
                            </td>
                        </tr>
                    </table>




                </a>
                <ul class="dropdown-menu" style="display: none;">
                    <li>
                        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                    </li>
                </ul>
            </li>
        }
    </ul>

    @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
    {
        //new private message notification
        <script type="text/javascript">
            $(document).ready(function () {
                displayPopupNotification('@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AlertMessage))', 'success', false);
            });
        </script>
    }
</div>


