@model ContactUsModel
@using Nop.Web.Models.Common;
@using Nop.Services.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    var currentCustomer = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.IWorkContext>().CurrentCustomer;
    var FirstName = currentCustomer.GetAttribute<string>(Nop.Core.Domain.Customers.SystemCustomerAttributeNames.FirstName);
    var LastName = currentCustomer.GetAttribute<string>(Nop.Core.Domain.Customers.SystemCustomerAttributeNames.LastName);
    var Email = currentCustomer.Email;
}


<div class="row nopadding no-margin" style="margin-top: 40px; margin-bottom: 70px;">
    <div class="page-body col-md-6 forcontactheading">
        <h3 style="font-weight:bold">CONTACT US</h3>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                @if (Model.SuccessfullySent)
                {
                    <div class="alert alert-success" role="alert">
                        @Model.Result
                    </div>
                }
                else
                {
                    using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        var validationSummary = Html.ValidationSummary(true);
                        if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                        {
                            <div class="text-danger">@validationSummary</div>
                        }
                        <div class="form-horizontal">
                            <div class="inputs">
                                @Html.LabelFor(model => model.FullName)
                                @Html.TextBoxFor(model => model.FullName, new { @class = "fullname", placeholder = T("ContactUs.FullName.Hint") })
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.FullName)
                            </div>
                            <div class="inputs">
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, new { @class = "email", placeholder = T("ContactUs.Email.Hint") })
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            @if (Model.SubjectEnabled)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.Subject)
                                    @Html.TextBoxFor(model => model.Subject, new { @class = "subject", placeholder = T("ContactUs.Subject.Hint") })
                                    @Html.RequiredHint()
                                    @Html.ValidationMessageFor(model => model.Subject)
                                </div>
                            }
                            <div class="inputs">
                                <label for="Enquiry">Message</label>
                                @Html.TextAreaFor(model => model.Enquiry, new { @class = "enquiry", placeholder = T("ContactUs.Enquiry.Hint") })
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.Enquiry)
                            </div>
                            <center>
                                <div class="buttons">
                                    <input type="submit" name="send-email" class="button-1 contact-us-button" value="@T("ContactUs.Button")" />
                                </div>
                            </center>
                        </div>

                    }
                }
            </div>
        </div>
        @Html.Widget("contactus_bottom")
    </div>
    <div class="col-md-6 ">
        <div class="imagessss">
		@*<img src="~/Themes/FootPrint/Content/images/gift2.jpg">*@
	<div class="rollover" style=" height: 104%; ">
             <div class="title-container">
                        <div class="title-second">         </div>
            </div>
        </div>
	<video controls="" autoplay="" loop="" muted="" poster="/themes/FootPrint/content/home-banners/12.jpg" type="video/mp4" __idm_id__="438595585">
            <source src="/Themes/FootPrint/Content/making.mp4" type="video/mp4">
            <source src="/Themes/FootPrint/Content/making.ogg" type="video/ogg">
        </video>
</div>
        <center style="margin-top:-64px;">
            @Html.Action("TopicBlock", "Topic", new { systemName = "contactusinfo" })
        </center>
    </div>
</div>


