@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;


<style>
   

    /*FlexSlider Overrides*/
    .flex-direction-nav .flex-prev {
        left: -7px;
    }

    .flex-direction-nav .flex-next {
        right: -7px;
    }

    .flexslider .slides {
        /*padding:30px 0px;*/
        box-sizing: border-box;
    }

    .flex-control-paging li a {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        width: 15px;
        height: 15px;
    }

    .flex-direction-nav a:before {
        font-family: FontAwesome;
    }

    .flex-direction-nav a.flex-next:before {
        content: '\f105';
    }

    .flexslider:hover .flex-direction-nav .flex-next {
        right: -7px!important;
    }

    .flexslider:hover .flex-direction-nav .flex-prev {
        left: -7px !important;
    }

    .flex-direction-nav a:before {
        content: "\f104";
    }
</style>
@if (Model.Count > 0)
{
    @*<div class="flexslider" style="padding-right:13px;padding-left:13px">
        <ul class="slides">
            @foreach (var item in Model)
            {
                <li class="homepageproduct ">
                    <div class="hppdtl">
                        <div>
                            <h4 style="font-size:14px"> <b>@item.Name</b><br /> @item.ProductPrice.Price </h4>
                        </div>
                    </div>
                    <p class="hppimg">
                        <a href="/@item.SeName">
                            <img src="@item.DefaultPictureModel.ImageUrl" class="img-responsive" />
                        </a>
                    </p>
                </li>
               }
        </ul>
    </div>*@

    <div class="owl-carousel owl-theme">
            @foreach (var item in Model)
            {
                <div class="item" >
                    <div class="hppdtl">
                        <div>
                            <h4 style="font-size:14px"> <b>@item.Name</b><br /> @item.ProductPrice.Price </h4>
                        </div>
                    </div>
                    <p class="hppimg">
                        <a href="/@item.SeName">
                            <img src="@item.DefaultPictureModel.ImageUrl" class="img-responsive" />
                        </a>
                    </p>
                </div>
            }
    </div>
    <script>

    //  owlCarousel
        $('.owl-carousel').owlCarousel({
        loop: false,
        margin: 8,
        nav: true,
        dots: true,
        autoplay: true,        
        autoplayTimeout: 4000,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            720: {
                items: 3
            },
            1200: {
                items: 6
            }
        }
    })
    </script>
    @*<div class="col-md-12 nopadding" style="margin-bottom:30px">
            @foreach (var item in Model)
            {
                <div class="homepageproduct col-md-3 nopadding">
                    <div class="hppdtl">
                        <div>
                            <h4> <b>@item.Name</b><br /> @item.ProductPrice.Price </h4>
                        </div>
                    </div>
                    <div class="">
                        <a href="/@item.SeName">
                            <img src="@item.DefaultPictureModel.ImageUrl" class="img-responsive" />
                        </a>
                    </div>
                </div>
            }
    </div>*@
    <script>
        /*
        $('.flexslider').flexslider({
            animation: "slide",
            animationLoop: true,
            itemWidth: 300,
            itemMargin: 0,
            itemPadding: 0,
            minItems: 4,
            maxItem: 4,
            move: 1,
        });
        //
        function loadFlexslider() {
            var isSmartPhones = (document.body.clientWidth < 600);
            var width = isSmartPhones ? 350 : (document.body.clientWidth / 4) - 10;
            var current = 0;
            $('.flexslider').flexslider({
                animation: "slide",
                animationLoop: true,
                itemWidth: width,
                itemMargin: 0,
                itemPadding: 0,
                maxItem:4,
                move: 1,
                start: function (slider) { },
                after: function (slider) {
                  //alert("count: " + slider.count + ", current:" + slider.currentSlide)
                  //  if (current > 0 ) {
                  //      slider.slides.eq(current).removeClass("hpp-focus");
                  //  }

                  // var val = (slider.currentSlide == slider.count - 2) ? 0 : 1;
                  // current = isSmartPhones ? slider.currentSlide : slider.currentSlide + val;
                  //     slider.slides.eq(current).addClass("hpp-focus");


                    //slider.slides.eq(current + 1).addClass("hpp-focus");
                    //slider.slides.eq(current).removeClass("hpp-focus");

                    //current += 1;

                    // $( slider.slides[slider.currentSlide ]).addClass("homepageproduct-focus");
                    // $(slider.slides[slider.currentSlide ]).removeClass("homepageproduct-focus");
                },

                end: function (slider) {
                    //slider.slides.eq(slider.currentSlide).removeClass("hpp-focus");

                }
            });
        }
        $(window).resize(function () {
            loadFlexslider();
        });
        $(window).load(function () {
            loadFlexslider();
        });*/
    </script>
}
