@model CategoryModel
@using Nop.Web.Models.Catalog;
@{
    bool GiftVoucherEnabled = true;
    int counter = 0;
}
<div style="position: relative; overflow: hidden;" class="mos-container isotope scroll-cont">
@for (int i=counter ; i < Model.SubCategories.Count; i++)
{
    var category = Model.SubCategories[counter];
    int type = 6;

        if (i % 6 == 0)
        {
            //type = 8;
            <div class="mos-item block-2428 item-w2 item-sm-w2 item-sm-h2 img-center-horizontal slide-box item-width" id="qSubCategories@(Model.Id)">
                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                    <img style="width:100%" src="@category.PictureModel.FullSizeImageUrl" />
                </a>
                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" style="position:absolute;z-index:1000;right:37px;bottom:18px;font-size:47px;color:#000;font-weight:normal">
                    @category.Name
                </a>
            </div>
        }
        else if (i % 6 == 1)
        {
            //type = 4;
            <div class="mos-item block-2569 item-h2 item-sm-w2 item-sm-h2 slide-box home_banner" id="qSubCategories@(Model.Id)">
                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                    <img style="width:100%" src="@category.PictureModel.FullSizeImageUrl" />
                </a>
                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" style="position:absolute;z-index:1000;right:37px;bottom:18px;font-size:47px;color:#000;font-weight:normal">
                    @category.Name
                </a>
            </div>
        }
        else if (i % 6 == 2)
        {
            //type = 4;
            <div class="mos-item block-2435 item-df item-sm-w2 item-sm-h2 slide-box item-width" id="qSubCategories@(Model.Id)">
                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                    <img style="width:100%" src="@category.PictureModel.FullSizeImageUrl" />
                </a>
                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" style="position:absolute;z-index:1000;right:37px;bottom:18px;font-size:47px;color:#000;font-weight:normal">
                    @category.Name
                </a>
            </div>
        }
        else if (i % 6 == 3)
        {
            //type = 8;
            <div class="mos-item block-2442 item-df item-sm-w2 item-sm-h2 slide-box item-width" id="qSubCategories@(Model.Id)">
                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                    <img style="width:100%" src="@category.PictureModel.FullSizeImageUrl" />
                </a>
                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" style="position:absolute;z-index:1000;right:37px;bottom:18px;font-size:47px;color:#000;font-weight:normal">
                    @category.Name
                </a>
            </div>
        }
        else if (i % 6 == 4)
        {
            //type = 4;

            <div class="mos-item block-2446 item-w2 item-sm-w2 item-sm-h2 img-center-horizontal slide-box item-width" id="qSubCategories@(Model.Id)">
                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                    <img style="width:100%" src="@category.PictureModel.FullSizeImageUrl" />
                </a>
                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" style="position:absolute;z-index:1000;right:37px;bottom:18px;font-size:47px;color:#000;font-weight:normal">
                    @category.Name
                </a>
            </div>
        }
        else if (i % 6 == 5)
        {
            //type = 4;
            <div class="mos-item block-2449 item-df item-sm-w2 item-sm-h2 slide-box item-width" id="qSubCategories@(Model.Id)">
                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                    <img style="width:100%" src="@category.PictureModel.FullSizeImageUrl" />
                </a>
                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" style="position:absolute;z-index:1000;right:37px;bottom:18px;font-size:47px;color:#000;font-weight:normal">
                    @category.Name
                </a>
            </div>
        }
	counter++;
@*    if (i % 6 == 0)
    {
        type = 8;
    }
    else if (i % 6 == 1)
    {
        type = 4;
    }
    else if (i % 6 == 2)
    {
        type = 4;
    }
    else if (i % 6 == 3)
    {
        type = 8;
    }
    else if (i % 6 == 4)
    {
        type = 4;
    }
    else if (i % 6 == 5)
    {
        type = 4;
    }

    <div class="col-xs-12 col-sm-12 col-md-@(type) nopadding " id="qSubCategories@(Model.Id)">
        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
            <img style="width:100%" src="@category.PictureModel.FullSizeImageUrl" />
        </a>
        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" style="position:absolute;z-index:1000;right:37px;bottom:18px;font-size:47px;color:white;font-weight:normal">
            @category.Name
        </a>
    </div>*@
}
</div>