@model IList<ProductOverviewModel>

    @using Nop.Web.Models.Catalog;
    @{
        Layout = "";
    }
    @*<div class="page recently-viewed-products-page">
            <div class="page-title">
                <h1>@T("Products.RecentlyViewedProducts")</h1>
            </div>
            <div class="page-body">
                @if (Model.Count > 0)
                {
                    <div class="product-grid">
                        <div class="item-grid">
                            @foreach (var product in Model)
                            {
                                <div class="item-box">
                                    @Html.Partial("_ProductBoxCopy", product)
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>*@


    @*---------------------test code--------------------*@
    <link href="~/Themes/marketplace/Content/flexslider/css/flexslider.css" rel="stylesheet" />
    <script src="~/Themes/marketplace/Content/flexslider/js/jquery.flexslider-min.js"></script>

    <style>
        /*FlexSlider Overrides*/
        .flex-direction-nav .flex-prev {
            left: 7%;
        }

        .flex-direction-nav .flex-next {
            right: 7%;
        }

        .flexslider .slides {
            /*padding:30px 0px;*/
            box-sizing: border-box;
        }

        .flex-control-paging li a {
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            width: 15px;
            height: 15px;
        }

        .flex-direction-nav a:before {
            font-family: FontAwesome;
        }

        .flex-direction-nav a.flex-next:before {
            content: '\f105';
        }

        .flexslider:hover .flex-direction-nav .flex-next {
            right: 7% !important;
        }

        .flexslider:hover .flex-direction-nav .flex-prev {
            left: 7% !important;
        }

        .flex-direction-nav a:before {
            content: "\f104";
            margin-right: 4px;
        }
    </style>
    @if (Model.Count > 0)
    {
        <div class="flexslider" style="padding-right:10%;padding-left:10%">
            <ul class="slides">

                @foreach (var product in Model)
                {
                    <li class="homepageproduct ">
                        <div class="item-box">
                            @Html.Partial("_ProductBoxCopy", product)
                        </div>
                    </li>
                }


            </ul>
        </div>
        @*<div class="col-md-12 nopadding" style="margin-bottom:30px">


                        @foreach (var item in Model)
                        {
                            <div class="homepageproduct col-md-3 nopadding">
                                <div class="hppdtl">


                                    <div>
                                        <h4>
                                            <b>@item.Name</b><br />
                                            @item.ProductPrice.Price
                                        </h4>
                                    </div>
                                </div>
                                <div class="">
                                    <a href="/@item.SeName">
                                        <img src="@item.DefaultPictureModel.ImageUrl" class="img-responsive" />
                                    </a>
                                </div>

                            </div>
            }



                </div>*@
        <script>



            function loadFlexslider() {
                var isSmartPhones = (document.body.clientWidth < 600);
                var width = isSmartPhones ? 350 : (document.body.clientWidth / 4) - 10;
                var current = 0;
                $('.flexslider').flexslider({
                    animation: "slide",
                    animationLoop: true,





                    itemWidth: width,
                    itemMargin: 0,
                    itemPadding: 0,
                    maxItem: 4,
                    move: 1,
                    start: function (slider) {



                    },


                    after: function (slider) {
                        //alert("count: " + slider.count + ", current:" + slider.currentSlide)
                        //  if (current > 0 ) {
                        //      slider.slides.eq(current).removeClass("hpp-focus");
                        //  }

                        // var val = (slider.currentSlide == slider.count - 2) ? 0 : 1;
                        // current = isSmartPhones ? slider.currentSlide : slider.currentSlide + val;
                        //     slider.slides.eq(current).addClass("hpp-focus");


                        //slider.slides.eq(current + 1).addClass("hpp-focus");
                        //slider.slides.eq(current).removeClass("hpp-focus");

                        //current += 1;

                        // $( slider.slides[slider.currentSlide ]).addClass("homepageproduct-focus");
                        // $(slider.slides[slider.currentSlide ]).removeClass("homepageproduct-focus");
                    },

                    end: function (slider) {
                        //slider.slides.eq(slider.currentSlide).removeClass("hpp-focus");

                    }


                });
            }
            $(window).resize(function () {
                loadFlexslider();

            });
            $(window).load(function () {
                loadFlexslider();

            });
        </script>
    }
