@model ProductDetailsModel

@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Catalog;
@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";

}
@Html.Widget("productdetails_after_breadcrumb", Model.Id)
<div class="modal-dialog product-quickview" role="document">
    <div class="modal-content rounded-0">
        <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
            <span class="quick-close"></span>
        </button>
        <div class="page product-details-page">
            <div class="page-body">
                @*@Html.Widget("content_before")*@
                @Html.Widget("productdetails_quickview_top", Model.Id)
                @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
                {
                    <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                        <div class="product-essential">
                            @Html.Widget("productdetails_quickview_before_pictures", Model.Id)
                            <!--product pictures-->
                            @Html.Partial("_ProductDetailsPictures", Model)
                            @Html.Widget("productdetails_quickview_after_pictures", Model.Id)
                            <div class="overview">
                                @Html.Partial("_Discontinued", Model)
                                <div class="product-name">
                                    <h1 itemprop="name">
                                        @Model.Name
                                    </h1>
                                </div>
                                @if (!String.IsNullOrEmpty(Model.ShortDescription))
                                {
                                    <div class="short-description">
                                        @Html.Raw(Model.ShortDescription)
                                    </div>
                                }

                                @Html.Widget("productdetails_quickview_overview_top", Model.Id)

                                <!--product SizeGuide-->
                                @if (Model.ProductSpecifications.Where(x => x.SpecificationAttributeName.ToLower() == "size guide").Any())
                                {
                                    <div class="short-description">
                                        <a class="read" id="size-guide">Size Guide</a>
                                        <script>
                                $(document).ready(function () {
                                    $('#size-guide').on('click', function (e)
                                    { e.preventDefault(); displayPopupContentFromUrl('/t-popup/@(Model.ProductSpecifications.Where(x => x.SpecificationAttributeName.ToLower() == "size guide").First().ValueRaw)', 'Size Guide'); });
                                });                         </script>
                                    </div>
                                }


                                <!--product reviews-->
                                @Html.Partial("_ProductReviewOverview", Model.ProductReviewOverview)
                                <!--manufacturers-->
                                @Html.Partial("_ProductManufacturers", Model.ProductManufacturers)
                                <!--availability-->
                                @Html.Partial("_Availability", Model)
                                <!--SKU, MAN, GTIN, vendor-->
                                @Html.Partial("_SKU_Man_GTIN_Ven", Model)
                                <!--delivery-->
                                @Html.Partial("_DeliveryInfo", Model)
                                <!--sample download-->
                                @Html.Partial("_DownloadSample", Model)
                                <!--attributes-->
                                @{
                                    var dataDictAttributes = new ViewDataDictionary();
                                    dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                                    @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                                }

                                <!--gift card-->
                                @{
                                    var dataDictGiftCard = new ViewDataDictionary();
                                    dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                                    @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                                }
                                <!--reservation info-->
                                @if (Model.ProductType == ProductType.ReservationProduct)
                                {
                                    var dataDictReservation = new ViewDataDictionary();
                                    dataDictReservation.TemplateInfo.HtmlFieldPrefix = string.Format("reservation_{0}", Model.Id);
                                    @Html.Partial("_ReservationInfo", Model, dataDictReservation)
                                }
                                <!--rental info-->
                                @{
                                    var dataDictRental = new ViewDataDictionary();
                                    dataDictRental.TemplateInfo.HtmlFieldPrefix = string.Format("rental_{0}", Model.Id);
                                    @Html.Partial("_RentalInfo", Model, dataDictRental)
                                }
                                <!--price & add to cart-->
                                @{
                                    var dataDictPrice = new ViewDataDictionary();
                                    dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                                    @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)

                            <!--auction-->
                                    if (Model.ProductType == ProductType.AuctionProduct)
                                    {
                                        var dataDictAuction = new ViewDataDictionary();
                                        dataDictAuction.TemplateInfo.HtmlFieldPrefix = string.Format("auction_{0}", Model.Id);
                                        @Html.Partial("_AuctionInfo", Model, dataDictAuction)
                                    }

                                    @Html.Partial("_ProductTierPrices", Model.TierPrices)

                                    var dataDictAddToCart = new ViewDataDictionary();
                                    dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                    @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)
                                    @Html.Partial("_ProductEstimateShipping", Model.ProductEstimateShipping)
                                }
                                <!--wishlist, compare, email a friend-->
                                <div class="overview-buttons">
                                    @Html.Widget("productdetails_inside_overview_buttons_before", Model.Id)
                                    @{
                                        var dataDictAddToWishlist = new ViewDataDictionary();
                                        dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                        @Html.Partial("_AddToWishlist", Model.AddToCart, dataDictAddToWishlist)
                                    }
                                    @Html.Partial("_CompareProductsButton", Model)
                                    @Html.Partial("_ProductEmailAFriendButton", Model)
                                    @Html.Widget("productdetails_inside_overview_buttons_after", Model.Id)

                                </div>
                                @Html.Partial("_ShareButton", Model)
                                @Html.Widget("productdetails_quickview_overview_bottom", Model.Id)
                            </div>
                            @if (!String.IsNullOrEmpty(Model.FullDescription))
                            {
                                <div class="full-description" itemprop="description">
                                    @Html.Raw(Model.FullDescription)
                                </div>
                            }
                        </div>
                        @Html.Widget("productdetails_before_collateral", Model.Id)
                        <div class="product-collateral">
                            @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)
                            @Html.Partial("_ProductTags", Model.ProductTags)
                        </div>
                        @Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })
                        @Html.Action("RelatedProducts", "Product", new { productId = Model.Id })
                    </div>
                                        }
                @Html.Widget("productdetails_quickview_bottom", Model.Id)
            </div>
        </div>
    </div>
</div>