@model DeviceModel
@{
    //page title
    ViewBag.Title = T("Admin.Fcm.Device.EditDevice").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Fcm Device");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Fcm.Device.EditDevice")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Device.BackToList").Text, "FcmDeviceList")</small>
        </h1>
        <div class="pull-right">
            <button type="button" class="btn bg-green" data-toggle="modal" data-target="#sendfcm-window">
                <i class="fa fa-at"></i>
                @T("Admin.Customers.Customers.SendFcm")
            </button>
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateDevice", Model)
}