@model CustomerRewardPointsModel
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order
@{
    Layout = "~/Views/Shared/_ColumnsTwoMyAccount.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.RewardPoints })
}
@*<div class="page-header2 page-header-custom text-center nopadding no-margin" style="text-align: left; margin-top: -9px; padding-left: 14px;">
        <h3>@T("Account.MyAccount") - @T("Account.RewardPoints")</h3>
    </div>
        <div class="marginBottom15" style="padding-top: 15px; margin-left: 1%;">
            <div>@T("RewardPoints.CurrentBalance", Model.RewardPointsBalance, Model.RewardPointsAmount)</div>
            @if (Model.MinimumRewardPointsBalance > 0)
            {
                <div>@T("RewardPoints.MinimumBalance", Model.MinimumRewardPointsBalance, Model.MinimumRewardPointsAmount)</div>
            }
        </div>
        <div class="section reward-points-history text-center">
                <h4>@T("RewardPoints.History")</h4>
            @if (Model.RewardPoints.Count > 0)
            {
                    <table class="table table-bordered">
                        <colgroup>
                            <col width="25%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="date">
                                    @T("RewardPoints.Fields.Date")
                                </th>
                                <th class="points">
                                    @T("RewardPoints.Fields.Points")
                                </th>
                                <th class="points-balance">
                                    @T("RewardPoints.Fields.PointsBalance")
                                </th>
                                <th class="message">
                                    @T("RewardPoints.Fields.Message")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.RewardPoints.Count; i++)
                            {
                                var item = Model.RewardPoints[i];
                                <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                    <td class="date">
                                        @item.CreatedOn
                                    </td>
                                    <td class="points">
                                        @item.Points
                                    </td>
                                    <td class="points-balance">
                                        @item.PointsBalance
                                    </td>
                                    <td class="message">
                                        @item.Message
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            }
            else
            {
                <div>
                    @T("RewardPoints.NoHistory")
                </div>
            }
        </div>*@

<div class="col-md-12 col-xs-12 col-sm-12 text-center" style="margin-top:66px"><h3 style="color:#8DA7A8;font-size:27px;font-weight:bold">YOUR REWARD STATUS</h3></div>
@if (Model.RewardPoints.Count > 0)
{
    for (int i = 0; i < Model.RewardPoints.Count; i++)
    {
        var item = Model.RewardPoints[i];
        <div class="row no-margin">
            <div class="col-md-3"></div>
            <div class="col-md-6 col-xs-12" style="background-color:rgb(242,238,237)">
                <div class="col-md-6 col-xs-4" style="text-align:left;padding-top:20px;font-size:17px">DATE</div>
                <div class="col-md-6 col-xs-8" style="text-align: right; padding-top: 20px; font-size: 17px">@item.CreatedOn</div>
                <div class="col-md-6 col-xs-6" style="text-align:left;padding-top:20px;font-size:17px;padding-bottom:20px">POINTS</div>
                <div class="col-md-6 col-xs-6" style="text-align: right; padding-top: 20px; font-size: 17px; padding-bottom: 20px">@item.Points</div>

            </div>

            <div class="col-md-3"></div>
        </div>
    <div class="row no-margin">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-xs-12" style="background-color:white">
            <div class="col-md-6 col-xs-8" style="text-align:left;padding-top:20px;font-size:17px">POINTS BALANCE</div>
            <div class="col-md-6 col-xs-4" style="text-align: right; padding-top: 20px; font-size: 17px">@item.PointsBalance</div>
            <div class="col-md-6 col-xs-6" style="text-align:left;padding-top:20px;font-size:17px">MESSAGE</div>
            <div class="col-md-6 col-xs-6" style="text-align: right; padding-top: 20px; font-size: 17px">@item.Message</div>

        </div>

        <div class="col-md-3"></div>
    </div>

    }
     <div class="row no-margin">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-xs-12" style="background-color:rgb(5,28,59);margin-top:24px;margin-bottom:24px">
            <div class="col-md-6 col-xs-8" style="text-align: left; padding-top:5px; padding-bottom:5px;font-size:17px; color: white">CURRENT BALANCE</div>
            <div class="col-md-6 col-xs-4" style="text-align: right; padding-top: 5px; padding-bottom: 5px; font-size: 17px; color: white; ">@Model.RewardPointsBalance</div>
        </div>
        <div class="col-md-3"></div>
    </div>
}
else
{
    <h3 style="color:#8DA7A8;font-size:25px;font-weight:bold ;text-align:center;">Is Zero</h3>
}

<div class="row no-margin">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center" style="background-color:white;margin-top:24px">
        <hr style="margin-bottom:33px">
        <span style="color:rgb(141,141,141);font-size:21px">HOW POINTS CAN BE REDEEMED ?</span><br />
        <div style="padding-bottom:40px">  <span style="font-weight:bold;color:rgb(141,141,141);font-size:16px"> ON CHECKOUT PAGE THERE IS AN OPTION TO REDEEM REWARD POINTS CAN BE CONSUMED AS 1 POINT = RUPEE 1.</span></div>
        <br />
        <span style="color:rgb(141,141,141);font-size:21px">IS THERE ANY MINIMUM OR MAXIMUM LIMIT OF POINT REDEMPTION?</span><br />
        <div style="padding-bottom:40px">  <span style="font-weight:bold;color:rgb(141,141,141);font-size:16px">YES, MINIMUM 3,000 POINTS CAN BE REDEEMED WHEREAS, NO LIMIT FOR MAXIMUM POINTS REDEMPTION.</span></div>
        <br />
        <span style="color:rgb(141,141,141);font-size:21px">WHAT IS THE VALIDITY PERIOD OF REWARD POINTS?</span><br />
        <div style="padding-bottom:40px">  <span style="font-weight:bold;color:rgb(141,141,141);font-size:16px">THERE IS NOT EXPIRY PERIOD OF REWARD POINTS. THEY CAN BE REDEEMED ANYTIME,LIFETIME.</span></div>
        <br />
        <span style="color: rgb(141,141,141); font-size: 21px">CAN REWARD POINTS BE USED FOR PAYMENT OF PURCHASE AT FOOTPRINT'S IOS & ANDROID MOBILE APPS AND AT GO MOBISHOP APPS?</span><br />
        <div style="padding-bottom:40px">  <span style="font-weight:bold;color:rgb(141,141,141);font-size:16px">YES ELIGIBLE FOR IOS & ANDROID</span></div>

        <div style="margin-bottom:50px"><img src="/themes/FootPrint/content/images/loyalty.png" /></div>


    </div>

    <div class="col-md-1"></div>
</div>
