@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_BlankColumn.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}




<div class="html-apply-vendor-page">

    <div class="row">

        <div class="col-md-12 ">
            <div class="header-inner ">

                <div class="logo-placeholder">
                    <a class="home-main" href="/">
                        <span class="logo"></span>
                        <span class="moto"></span>
                    </a>


                </div>
            </div>

            <div class="row padding-20">
               
                <div class="col-md-12 center">

                    <div class="register-form opc" style="width:40%; height:auto">


                        <div class="titlec" style="font-size:14px;">
                            <h1>Enter your registered E-Mail ID to recover password</h1>

                        </div>
                        @if (!String.IsNullOrEmpty(Model.Result))
                        {
                            <div class="result">
                                @Model.Result
                            </div>
                        }
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                            <div class="fieldset">
                                <div class="form-fields">
                                    <div class="input-field">
                                        @Html.LabelFor(model => model.Email, new { }, ":")
                                        @Html.TextBoxFor(model => model.Email, new { @class = "email" })

                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>
                                </div>
                            </div>


                            <div class="buttons" style="width:100%; float:left;">
                                <input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
                            </div>
                        }







                    </div>

                    <div class="login" style="width:100%; float:left; padding:10px 0px">
                        Go back to login @Html.ActionLink("Login", "LoginRegister")
                    </div>


                </div>



            </div>
        </div>



    </div>
    </div>