@model CustomerActionConditionModel
@using Nop.Services

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.Name)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.CustomerActionConditionTypeId)
                </div>
                <div class="col-md-9">
                    @if (Model.Id > 0)
                    {
                        @Html.NopDropDownListFor(model => model.CustomerActionConditionTypeId, Model.CustomerActionConditionType, htmlAttributes: new { @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.NopDropDownListFor(model => model.CustomerActionConditionTypeId, Model.CustomerActionConditionType)
                    }

                    
                    @Html.ValidationMessageFor(model => model.CustomerActionConditionTypeId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ConditionId)
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownListFor(model => model.ConditionId, ((Nop.Core.Domain.Customers.CustomerActionConditionEnum)Model.ConditionId).ToSelectList())
                    @Html.ValidationMessageFor(model => model.ConditionId)
                </div>
            </div>
        </div>
    </div>
</div>
