@model NewsletterBoxModel
@using Nop.Web.Models.Newsletter;

 @*<h5 class="text-center" style="font-weight: bold; color:#fdc183;"><a href="#">SUBSCRIBE TO GET NOTIFY</a></h5>*@
			<div class="col-md-12">
				<div id="countdowntop" class="text-center" style="font-size:x-large !important;"></div>
			</div>
<div class="col-md-12 hidden-sm hidden-xs" style="height: 35px;"></div>
			<div class="row" style="padding-top: 60px;">
				<div class="col-md-9 newsletter-input-div" style="">
				 @Html.TextBoxFor(x => x.NewsletterEmail, new { type="email", id = "newsletter-email-top", @class = "newsletter-email-box", placeholder = T("Email") })
					
				</div>
				<div class="col-md-3 newsletter-button-div">
					<p class="text-center" style="">
					
						<a href="javascript:" id="newsletter-subscribe-button1" style="color: black; text-decoration: none; font: 700 12px/12px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;"><strong>Lets go</strong></a>
					</p>
				</div>
</div>
    <div class="newsletter-validation">
            <span id="subscribe-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            @Html.ValidationMessageFor(x => x.NewsletterEmail)
        </div>
<div class="newsletter-result" id="newsletter-result-block"></div>

<script type="text/javascript">
        @*function newsletter_subscribe(subscribe) {
            var subscribeProgress = $("#subscribe-loading-progress");
            subscribeProgress.show();
            var postData = {
                subscribe: subscribe,
                email: $("#newsletter-email-top").val()
            };
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("SubscribeNewsletter"))",
                data: postData,
                success: function(data) {
                    subscribeProgress.hide();
                    $("#newsletter-result-block").html(data.Result);
                    if (data.Success) {
                        $('#newsletter-subscribe-block').hide();
                        $('#newsletter-result-block').show();
                    } else {
                        $('#newsletter-result-block').fadeIn("slow").delay(2000).fadeOut("slow");
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('Failed to subscribe.');
                    subscribeProgress.hide();
                }
            });
        }*@

    function newsletter_subscribe(subscribe, id) {
        var subscribeProgress = $("#subscribe-loading-progress");
        subscribeProgress.show();
        var postData = {
            subscribe: subscribe,
            email: $(id).val()
        };
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.RouteUrl("SubscribeNewsletter"))",
            data: postData,
        success: function(data) {
            subscribeProgress.hide();
            $("#newsletter-result-block").html(data.Result);
            if (data.Success) {
                $('#newsletter-subscribe-block').hide();
                $('#newsletter-result-block').show();
            } else {
                $('#newsletter-result-block').fadeIn("slow").delay(2000).fadeOut("slow");
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert('Failed to subscribe.');
            subscribeProgress.hide();
        }
    });
    }
    
        $(document).ready(function () {
            $('#newsletter-subscribe-button1').click(function () {
                @if (Model.AllowToUnsubscribe)
                {
                    <text>if ($('#newsletter_subscribe').is(':checked')) {
                    newsletter_subscribe('true', '#newsletter-email-top');
                    } else {
                    newsletter_subscribe('false', '#newsletter-email-top');
                    }</text>
                }
                else
                {
                    <text>newsletter_subscribe('true', '#newsletter-email-top');</text>
                }
            });
            $("#newsletter-email").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#newsletter-subscribe-button").click();
                    return false;
                }
            });
        });
    </script>
