@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Services.Media;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
}
<!--product breadcrumb-->
@*@section Breadcrumb
    {
        @Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)
    }*@
@*@Html.Widget("productdetails_after_breadcrumb", Model.Id)*@
@*<div class="page product-details-page">
        <div class="page-body">
            @Html.Widget("productdetails_top", Model.Id)
            @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
            {
                <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                    <div class="product-essential">
                        @Html.Widget("productdetails_before_pictures", Model.Id)
                        <!--product pictures-->
                        @Html.Partial("_ProductDetailsPictures", Model)
                        @Html.Widget("productdetails_after_pictures", Model.Id)
                        <div class="overview">
                            @Html.Partial("_Discontinued", Model)
                            <div class="product-name">
                                <h1 itemprop="name">
                                    @Model.Name
                                </h1>
                            </div>
                            @if (!String.IsNullOrEmpty(Model.ShortDescription))
                            {
                                <div class="short-description">
                                    @Html.Raw(Model.ShortDescription)
                                </div>
                            }
                            @Html.Widget("productdetails_overview_top", Model.Id)
                            <!--product reviews-->
                            @Html.Partial("_ProductReviewOverview", Model.ProductReviewOverview)
                            <!--manufacturers-->
                            @Html.Partial("_ProductManufacturers", Model.ProductManufacturers)
                            <!--availability-->
                            @Html.Partial("_Availability", Model)
                            <!--SKU, MAN, GTIN, vendor-->
                            @Html.Partial("_SKU_Man_GTIN_Ven", Model)
                            <!--delivery-->
                            @Html.Partial("_DeliveryInfo", Model)
                            <!--sample download-->
                            @Html.Partial("_DownloadSample", Model)
                            <!--attributes-->
                            @{
                                var dataDictAttributes = new ViewDataDictionary();
                                dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                                @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                            }
                            <!--gift card-->
                            @{
                                var dataDictGiftCard = new ViewDataDictionary();
                                dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                                @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                            }
                            <!--rental info-->
                            @{
                                var dataDictRental = new ViewDataDictionary();
                                dataDictRental.TemplateInfo.HtmlFieldPrefix = string.Format("rental_{0}", Model.Id);
                                @Html.Partial("_RentalInfo", Model, dataDictRental)
                            }
                            <!--price & add to cart-->
                            @{
                                var dataDictPrice = new ViewDataDictionary();
                                dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                                @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)

                                @Html.Partial("_ProductTierPrices", Model.TierPrices)

                                var dataDictAddToCart = new ViewDataDictionary();
                                dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)
                            }
                            <!--wishlist, compare, email a friend-->
                            <div class="overview-buttons">
                                @Html.Widget("productdetails_inside_overview_buttons_before", Model.Id)
                                @{
                                    var dataDictAddToWishlist = new ViewDataDictionary();
                                    dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                    @Html.Partial("_AddToWishlist", Model.AddToCart, dataDictAddToWishlist)
                                }
                                @Html.Partial("_CompareProductsButton", Model)
                                @Html.Partial("_ProductEmailAFriendButton", Model)
                                @Html.Widget("productdetails_inside_overview_buttons_after", Model.Id)
                            </div>
                            @Html.Partial("_ShareButton", Model)
                            @Html.Widget("productdetails_overview_bottom", Model.Id)
                        </div>
                        @if (!String.IsNullOrEmpty(Model.FullDescription))
                        {
                            <div class="full-description" itemprop="description">
                                @Html.Raw(Model.FullDescription)
                            </div>
                        }
                    </div>
                    @Html.Widget("productdetails_before_collateral", Model.Id)
                    <div class="product-collateral">

                        @Html.Partial("_ProductTags", Model.ProductTags)
                    </div>
                    @Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })

                </div>
            }
            @Html.Widget("productdetails_bottom", Model.Id)
        </div>
    </div>*@

<script>
    $(document).ready(function () {

        if ($(window).width() <= 767) {
            $(".mobile-product").addClass("owl-carousel owl-theme");
            $(".pro-gallery").addClass("item");

            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 0,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            });
      
        }
        else {
            $(".mobile-product").removeClass("owl-carousel owl-theme");
            $(".pro-gallery").removeClass("item");
            
        }

       
    });
</script>


<div class="container">
    <div class="row">
        <div class="col-md-6 mobile-product">


            @*@Html.Partial("_ProductDetailsPictures", Model)*@
            @{
                var id = 1;
                var id2 = 1;
                var left = "left";
                var right = "right";
            }

            @foreach (var picture in Model.PictureModels)
            {
                <div class="ms-section text-center pro-gallery" id="@left@id">
                    <img width="1000" height="1340" src="@picture.FullSizeImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" class="attachment-woocommerce_single size-woocommerce_single" alt="" sizes="(max-width: 1000px) 100vw, 1000px" />
                </div>
                id++;
            }

            @*<div class="ms-section text-center" id="left2">
                    <div class="productDetail__attribute productDetail__personalization">
                        <label for="personalization" class="label">Personalize</label>
                        <input placeholder="Write the name" type="text" name="personalization" aria-required="true" aria-invalid="true">

                        @Html.Partial("_Availability", Model)
                    </div>
                    <div class="productDetail__attribute">
                        @{
                            var dataDictAttributes = new ViewDataDictionary();
                            dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                            @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                        }

                    </div>

                </div>*@


        </div>
        <div class="col-md-6 right-secmain">
            <div class="ms-section rfirst-s" id="right1">
                <h1 class="product_name override"> @Model.Name</h1>

                @{ var dataDictPrice = new ViewDataDictionary();
                    dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);

                }

                @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)

                @if (!String.IsNullOrEmpty(Model.FullDescription))
                {
                    <div class="productDetail__description override">
                        @Html.Raw(Model.FullDescription)
                    </div>
                }

                @*<div data-component="WishListToggle" class="productDetail__wishlistAction fail">
                        @{
                            var dataDictAddToWishlist = new ViewDataDictionary();
                            dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                            @Html.Partial("_AddToWishlist", Model.AddToCart, dataDictAddToWishlist)
                        }
                    </div>*@

                <div class="productDetail__buttons">

                    @{

                        var dataDictAddToCart = new ViewDataDictionary();
                        dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                        @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)


                    }
                </div>

            </div><!-- // Right Class //-->


        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row relate-pro">
        @Html.Action("RelatedProducts", "Product", new { productId = Model.Id })
    </div>
</div>

 @{
        var img = new List<String>();
        
        foreach (var pic in Model.PictureModels)
        {
            img.Add(pic.ThumbImageUrl);
        }
        var json = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(img));
    }

    <script type="application/ld+json">
        {
        "@@context": "https://schema.org/",
        "@@type": "Product",
        "name": "@Model.Name",
        "image": @json,
        "description": "@Html.Raw(Model.ShortDescription)",
        "sku": "@Model.Sku",
        "brand": {
        "@@type": "footwear",
        "name": "@Model.CurrentStoreName"
        }
        }
    </script>