@model HeaderLinksModel
@using Nop.Web.Models.Common;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.Themes

@{
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var currentCustomer = Model.CustomerName;
    if (string.IsNullOrWhiteSpace(currentCustomer))
    {
        currentCustomer = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.Email;
    }
    var Images = String.Format(System.Configuration.ConfigurationManager.AppSettings["assetsdomain"] + "/Themes/{0}/Content/images", currentThemeName);
}

<ul class="list-inline hidden-xs hidden-sm">
    @Html.Widget("header_links_before")
    @Html.Widget("header_selectors")

    <div id="navbar-collapse-3">
        <ul class="nav navbar-nav navbar-right top-left-menu">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="dropdown myaccount hidden-xs hidden-sm" id="username">
                    <a class="dropdown-toggle text-center currentCustomer" data-toggle="dropdown" data-hover="dropdown" href="#">@currentCustomer</a>
                    <ul class="dropdown-menu" id="usernamedrop">
                        <li><a class="REWARDPOINTS" href="@Url.RouteUrl("CustomerRewardPoints")">REWARD POINTS</a></li>
                        <li><a href="/order/history">Order Status</a></li>
                        <li><a href="/customer/info">My Account</a></li>
                    </ul>
                </li>
            }
            else
            {
                <li class=" hidden-xs hidden-sm"><a href="#" id="authBtn">Log In / Sign Up</a></li>
            }
           @* <li class="hidden-md hidden-xs hidden-sm"><a class="BecomeSeller" id="authBtn3">Become Seller</a></li> *@

            @Html.Action("CurrencySelector", "Common")
            @if (Model.WishlistEnabled)
            {
                <li style="" class=" hidden-xs hidden-sm">
                    <a href="@Url.RouteUrl("Wishlist")" class="li-item" style="">
                        <table>
                            <tr>
                                <td><span class="wishlist_png"><img src="@Images/wishlist.png" /></span></td>
                                <td class="secoundTD">
                                    <div class="hidden-xs li-item WishlistEnabledDiv">
                                        <div style="">
                                            <span class="wishlist-qty WishlistItemsspan">@Model.WishlistItems</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
            }
            @if (Model.ShoppingCartEnabled)
            {
                <li id="topcartlink" class="dropdown  hidden-xs hidden-sm">
                    <a href="/cart" class=""><img src="@Images/cart.png" /> <span class="cart-qty" style="padding-left:20px">@Model.ShoppingCartItems</span></a>
                    <ul class="dropdown-menu" style="display: none;">
                        <li>
                            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                        </li>
                    </ul>
                </li>
            }
            <li id="fldSearch" class="fldSearchResponsive" style="display:none">
                <div class="form-group">

                    @Html.Action("SearchBox", "Catalog")
                    <a href="#" class="hidden-md hidden-lg authBtn6" id="authBtn6" onclick="javascript:searchbtn();">
                        <img src=@(System.Configuration.ConfigurationManager.AppSettings["assetsdomain"] + "/Themes/"+@currentThemeName+ "/content/images/cancel.png") />
                    </a>
                </div>
            </li>
            <li id="btnSearch" class="btnSearchResponsive">
                <a class="" href="#" onclick="javascript:performSearch();"><span class="fa fa-search fa-lg"></span></a>
            </li>
        </ul>
    </div>
</ul>

<script>
    $(document).ready(function () {
        $("#authBtn").on("click", function () {
            if (document.getElementById("AuthPanel").style.display == "none") {

                closeIfOpened("SearchPanel");
                $("#AuthPanel").show("slow");
                $("#AuthPanel3").hide("slow");
                return;
            }
            $("#AuthPanel").hide("slow");
        });
    });

</script>
<script>

    $(document).ready(function () {
        $("#authBtn3").on("click", function () {
            if (document.getElementById("AuthPanel3").style.display == "none") {

                closeIfOpened("SearchPanel");
                $("#AuthPanel3").show("slow");
                $("#AuthPanel").hide("slow")
                return;
            }
            $("#AuthPanel3").hide("slow");
        });
        $("#searchBtn").on("click", function () {
            if (document.getElementById("SearchPanel").style.display == "none") {
                closeIfOpened("AuthPanel3");
                $("#SearchPanel").show("slow");
                return;
            }
            $("#SearchPanel").hide("slow");
        });

    });
</script>
<script>
    $(document).ready(function () {
        $("#authBtn4").on("click", function () {
            if (document.getElementById("AuthPanel3").style.display == "none") {
                closeIfOpened("SearchPanel");
                $("#AuthPanel3").show("slow");
                return;
            }
            $("#AuthPanel3").hide("slow");

        });


    });

</script>


<script type="text/javascript">
    function performSearch()
    {
        $('#authBtn').toggle('fast');
        $('#authBtn3').toggle('fast');
        $('#currencySelector').toggle('fast');
        $('#username').toggle('fast');
        $('#becomevendorbtn').toggle('fast');


        $('#fldSearch').toggle('fast'); doSearch();
        $('#inputSearch').focus();
    }
    $("#small-search-box-form").submit(function(event) {
        if ($("#inputSearch").val() == "") {
            alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Search.EnterSearchTerms").Text))');
            $("#inputSearch").focus();
            event.preventDefault();
        }
    });
</script>
<script type="text/javascript">
    $('#username').hover(function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn();
    }, function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut();
    });
</script>
<script type="text/javascript">
    $('#currencySelector').hover(function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn();
    }, function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut();
    });
</script>

@Html.Widget("header_links_after")

<script>
    function doSearch() {
        var txt = $("#small-searchterms").val();

        if (txt.length > 0) {
            window.location = "/Search?q=" + txt;
        }
    }
   // $(window).load(function () { $('#usernamedrop').width($('#username').width()) });
</script>

<script language="JavaScript">
    function navigate(e) {
        if (e.keyCode == 13)
            doSearch();
    }
    document.onkeypress = navigate;
</script>
<script>
    $(window).load(function () {
        var isMobile = false; //initiate as false
        // device detection
        if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
            || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0, 4))) isMobile = true;
        if (isMobile) {
            $('#fldSearch').attr('id', 'AuthPanel5');
            $('#btnSearch').attr('id', 'authBtn5')
        } else {

        }
    })
</script>
<script>
    $(window).load(function () {
        $("#authBtn5").on("click", function () {
            if (document.getElementById("AuthPanel5").style.display == "none") {

                closeIfOpened("SearchPanel");
                $("#AuthPanel5").show("slow");
                $("#AuthPanel").hide("slow")
                return;
            }
            $("#AuthPanel3").hide("slow");
        });
        $("#searchBtn").on("click", function () {
            if (document.getElementById("SearchPanel").style.display == "none") {
                closeIfOpened("AuthPanel5");
                $("#SearchPanel").show("slow");
                return;
            }
            $("#SearchPanel").hide("slow");
        });

    });
</script>

<script>
    /*MegaMenu */
     /*MegaMenu */
    $(window).load(function () {
        
        $(".mega-menu li.has-sublist").hover(function () {
            $('.item-menu').removeClass("ShowProduct");
            $(this).find(".item-menu").first().addClass("ShowProduct"); 
        });
        
    });
    function openproducts(x) {
        $('.item-menu').removeClass("ShowProduct");
        $("#" + x).addClass("ShowProduct");
    } 

    /*MegaMenu Side Drower*/
    function openNav() {
        document.getElementById("mySidenav").style.width = "90%";

        $("#menutopDiv").css("display", "inline-block");
        $(".mega-menu-responsive").show();

        $("#mySidenav").css("visibility", "visible");
        $(".menu-title-new").hide();
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        $("#mySidenav").css("visibility", "hidden");
        $(".menu-title-new").show();

        $("#menutopDiv").hide();
        $(".mega-menu-responsive").hide();
    }
</script>

