@model ContactUsModel
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.BookAppointment").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}
<div class="page contact-page">
    <div class="page-title">
        <h1>@T("Sadaf.PageTitle.BookAppointment")</h1>
    </div>
    <div class="page-body">
        <div class="sendbtn">
            <div id="contactForm" class="contact-form">
                @Html.Action("TopicBlock", "Topic", new { systemName = "BookAppointment" })
                @Html.Widget("contactus_top")
                @if (Model.SuccessfullySent)
                {
		    <div class="sadaf-popup subscribe-popup-overlay">
                        <div class="Spopup-body">
                            <div class="contentpop">
                                <div class="closepop">

                                    <p> Your Query Has been Submitted </p>
                                    <div class="closepopbtn">
                                        <a href="/"><span>Back To Home</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        $(document).ready(function () {
                            setInterval(function () {
                                $(".contentpop").addClass('hoverpop');
                            }, 1000);
                        });
			console.log("texts");
                    </script>

                   @* <div class="result">
                        @Model.Result
                    </div> *@
                }
                else
                {
                    using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        var validationSummary = Html.ValidationSummary(true);
                        if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                        {
                            <div class="message-error">@validationSummary</div>
                        }
                        <div class="fieldset">
                            <div class="form-fields row">
                                <div class="inputs col-md-6">
                                    @Html.LabelFor(model => model.FullName)
                                    @Html.TextBoxFor(model => model.FullName, new { @class = "fullname", placeholder = T("sadafamir.Full.Name") })
                                    @Html.RequiredHint()
                                    @Html.ValidationMessageFor(model => model.FullName)
                                </div>
                                <div class="inputs col-md-6">
                                    @Html.LabelFor(model => model.PhoneNumber)
                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "number", placeholder = T("ContactUs.PhoneNumber.Hint") })
                                    @Html.RequiredHint()
                                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                                </div>
                                <div class="inputs col-md-12">
                                    @Html.LabelFor(model => model.Email)
                                    @Html.TextBoxFor(model => model.Email, new { @class = "email", placeholder = T("sadafamir.ContactUs.Email.Hint") })
                                    @Html.RequiredHint()
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                @if (Model.SubjectEnabled)
                                {
                                    @*<div class="inputs col-md-6 col-xs-12">
                                    @Html.LabelFor(model => model.Subject)
                                    @Html.TextBoxFor(model => model.Subject, new { @class = "subject", placeholder = T("ContactUs.Subject.Hint") })
                                    @Html.RequiredHint()
                                    @Html.ValidationMessageFor(model => model.Subject)
                                </div>*@
                                }

				<div class="inputs col-md-12">
                                    @Html.LabelFor(model => model.OrderNumber)
                                    @Html.TextBoxFor(model => model.OrderNumber, new { @class = "fullname", placeholder = "Event" })
                                    @Html.ValidationMessageFor(model => model.OrderNumber)
                                </div>
                                @*<div class="inputs col-md-6">
                                    @Html.LabelFor(model => model.Country)
                                    @Html.TextBoxFor(model => model.Country, new { @class = "fullname", placeholder = T("ContactUs.Country.Hint") })
                                    @Html.ValidationMessageFor(model => model.Country)
                                </div>*@

                                <div class="inputs col-md-12">
                                    @Html.LabelFor(model => model.Enquiry)
                                    @Html.TextAreaFor(model => model.Enquiry, new { @class = "enquiry", placeholder = T("sadafamir.ContactUs.Enquiry.Hint") })
                                    @Html.ValidationMessageFor(model => model.Enquiry)
                                </div>
                                @if (Model.DisplayCaptcha)
                                {
                                    <div class="captcha-box inputs col-md-12 col-xs-12">
                                        @Html.Raw(Html.GenerateCaptcha())
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="buttons col-md-12 text-left">
                            <input type="submit" name="send-email" class="button-1 contact-us-button" value="@T("ContactUs.Button")" />
                        </div>
                    }
                }
                @Html.Widget("contactus_bottom")
            </div>
        </div>
        </div>
</div>
