<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                <em>@T("Admin.Configuration.Settings.Gdpr.BlockTitle.Consents")</em>
            </p>
            <div id="gdpr-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#gdpr-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("GdprConsentList"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false,
                            @Html.Partial("_GridPagerMessages")
                        },
                        editable: {
                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "Message",
                            title: "@T("Admin.Configuration.Settings.Gdpr.Consent.Message")",
                            width: 200
                        },{
                            field: "IsRequired",
                            title: "@T("Admin.Configuration.Settings.Gdpr.Consent.IsRequired")",
                            width: 200,
                            template: '# if(IsRequired) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                        },{
                            field: "DisplayDuringRegistration",
                            title: "@T("Admin.Configuration.Settings.Gdpr.Consent.DisplayDuringRegistration")",
                            width: 200,
                            template: '# if(DisplayDuringRegistration) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                        },{
                            field: "DisplayOnCustomerInfoPage",
                            title: "@T("Admin.Configuration.Settings.Gdpr.Consent.DisplayOnCustomerInfoPage")",
                            width: 200,
                            template: '# if(DisplayOnCustomerInfoPage) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                        }, {
                            field: "DisplayOrder",
                            title: "@T("Admin.Configuration.Settings.Gdpr.Consent.DisplayOrder")",
                            width: 100
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<a class="btn btn-default" href="@Url.Content("~/Admin/Setting/EditGdprConsent/")#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                        }]
                    });
                });
            </script>
        </div>
        <div class="panel-footer">
            <a href="@Url.Action("CreateGdprConsent")" class="btn btn-primary">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Configuration.Settings.Gdpr.Consent.AddNew")
            </a>
        </div>
    </div>
</div>
