@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwoMyAccount.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}
<div class="col-md-12 uppercase" style="">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page-header2 page-header-custom uppercase">
        <h3>@T("Account.ChangePassword")</h3>
    </div>
    if (!String.IsNullOrEmpty(Model.Result))
    {
            <div class="alert alert-success marginBottom30" role="alert">
                @Model.Result
            </div>
    }

    var validationSummary = Html.ValidationSummary(true);
    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
            <div class="text-danger">@validationSummary</div>
        }
        <div class="form-horizontal">
            <div class="form-group" style="width:100%">
                @Html.LabelFor(model => model.OldPassword, new { @class = "col-sm-2 control-label fieldsforresponsive" , style="text-align:left;" }, ":")
                <div class="col-sm-4">
                    @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control uppercase" })
                   <small class="text-danger">@Html.ValidationMessageFor(model => model.OldPassword)</small> 
                </div>
                <div class="col-sm-1">
                    @Html.RequiredHint()
                </div>
            </div>
            <div class="form-group" style="width:100%">
                @Html.LabelFor(model => model.NewPassword, new { @class = "col-sm-2 control-label fieldsforresponsive", style = "text-align:left;" }, ":")
                <div class="col-sm-4">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control uppercase"})
                    <small class="text-danger">@Html.ValidationMessageFor(model => model.NewPassword)</small>
                </div>
                <div class="col-sm-1">
                    @Html.RequiredHint()
                </div>
            </div>
            <div class="form-group" style="width:100%">
                @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "col-sm-2 control-label fieldsforresponsive", style = "text-align:left;" }, ":")
                <div class="col-sm-4">
                    @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control uppercase" })
                    <small class="text-danger">@Html.ValidationMessageFor(model => model.ConfirmNewPassword)</small>
                </div>
                <div class="col-sm-1">
                    @Html.RequiredHint()
                </div>
            </div>
        </div>
        <div class="row col-sm-offset-2 col-sm-8 text-right no-margin nopadding" style="text-align:left;padding-right:30px;margin-bottom:30px;padding-top:30px;">
            <input type="submit" class="btn-med" value="@T("Account.ChangePassword.Button")" />
        </div>
 }
</div>