@model CategoryModel
@{
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }
    string theme = "/Themes/BootstrapDC/";
    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
    var currentCustomer = EngineContext.Current.Resolve<Nop.Core.IWorkContext>().CurrentCustomer;
    var email = currentCustomer.Email;
   

    bool BannerEnabled = false;
}
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;


@using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
{
     <input Type="hidden" class="" id="EnteredQuantity" max="100" min="1"  value="1"  />

    string fieldPrefix = string.Format("giftcard_{0}.", Model.Id);

    <div class="gift-voucher">

        <div class="row no-margin">
            <div class="col-md-12">
                <img src="@theme/content/images/gifttop.jpg" class="img-responsive" width="100%" />
            </div>
        </div>

        <div class="row no-margin bg-2">
            <div class="col-md-4">


                <div class="row">
                    <div class="col-md-12 nopadding-left">
                        <img src="@theme/content/images/Gift-Card.jpg" class="img-responsive" />
                    </div>
                </div>


            </div>
            <div class="col-md-8">
                <div class="amount">

                    

                    <select class="ddl" onchange="setGiftVoucher(this)">
                        <option value="|giftcard_0" hidden>Select Voucher</option>
                        @foreach (var product in Model.Products)
                        {
                            <option value="@product.SeName|giftcard_@product.Id">
                                @product.ProductPrice.Price.Replace(".00","")
                            </option>
                        }
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        
                        <div class="row">

                            <div class="col-md-6 nopadding-left">
                                <label>To</label>
                                <input type="text" name="@(fieldPrefix)RecipientName" id="recname" class="textbox3" placeholder="Recipient Name" />

                            </div>

                            <div class="col-md-6 nopadding-left">
                                <label>From</label>
                                <input type="text" name="@(fieldPrefix)SenderName"  id="senname" class="textbox3" placeholder="Your Name" />



                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 nopadding-left">
                                <input type="text" name="@(fieldPrefix)RecipientEmail" id="recemail" class="textbox3" placeholder="Recipient Email" />
                               

                            </div>
                            <div class="col-md-6 nopadding-left">
                                <input type="text" value="@email" name="@(fieldPrefix)SenderEmail" id="senemail" class="textbox3" placeholder="Your Email" />
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 nopadding-left">
                        <label>Message (Optional)</label>
                        <textarea name="@(fieldPrefix)Message" id="msg" class="textbox3" placeholder="Enter your message here."></textarea>

                    </div>
                </div>
                <!--Buttons -->
                <br />
                <br />
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="/gift-vouchers" class="btn-big" style="background-color:silver;line-height:42px">Cancel</a>
                        <button type="button" id="send-button" class="btn-big" value="Add to cart"  >Send Now</button>


                    </div>
                </div>
                <br />
                <br />
            </div>
        </div>
    </div>
    @Html.Action("TopicBlock", "Topic", new { systemName = "GiftPageBottomBanner" })

}
<script>


        var voucher_id=0;
      function setGiftVoucher(option) {
        var se_name = $(option).val().split("|")[0];
        voucher_id = $(option).val().split("|")[1];
        //$("#product-details-form").attr("action", "/" + seName);
        //alert(1);
        $("#recname").attr("name", voucher_id + ".RecipientName");
        $("#recemail").attr("name", voucher_id + ".RecipientEmail");
        $("#senname").attr("name", voucher_id + ".SenderName");
        $("#senemail").attr("name", voucher_id + ".SenderEmail");
        $("#msg").attr("name", voucher_id + ".Message");
        $("#EnteredQuantity").attr("name", voucher_id + ".EnteredQuantity");
    }
     

      $("#send-button").on("click", function () {

          var getId = voucher_id.split("_")[1];
          AjaxCart.addproducttocart_details('/addproducttocart/details/' + getId + '/1', '#product-details-form');
      })


</script>