@model SearchModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text);
    //page class
    Html.AppendPageCssClassParts("html-search-page");
}

<style>
    body.getting-ready {
        padding-top: 0%;
        overflow: inherit;
    }

    .inputs label {
        width: 0px;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/custom-icons.css">
<link rel="stylesheet" type="text/css" href="assets/css/my-instagram-gallery.css">
<link rel="stylesheet" type="text/css" href="assets/css/odometer-theme-default.css">
<link rel="stylesheet" type="text/css" href="assets/css/slick.css">
<link rel="stylesheet" type="text/css" href="assets/css/animate.css">
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="assets/css/carousel-my.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="assets/grow/css/colorbox.css" media="screen">
<link rel="stylesheet" type="text/css" href="assets/grow/css/standard.css" media="screen">

<link rel="stylesheet" type="text/css" href="assets/grow/css/division.css" media="screen">
<link rel="stylesheet" type="text/css" href="assets/grow/css/colorbox(1).css" media="screen">
<link rel="stylesheet" type="text/css" href="assets/grow/css/standard(1).css" media="screen">



@using Nop.Web.Models.Catalog;
<script type="text/javascript">
    $(document).ready(function () {

        $("#@Html.FieldIdFor(model => model.adv)").click(toggleAdvancedSearch);

        toggleAdvancedSearch();
    });

    function toggleAdvancedSearch() {

        if ($('#@Html.FieldIdFor(model => model.adv)').is(':checked')) {
            $('#advanced-search-block').show();
        }
        else {
            $('#advanced-search-block').hide();
        }
    }
</script>

<div class="page search-page">
    <div class="page-title">
        <h1 style="text-align:center;">@T("Search")</h1>
    </div>
    <div class="container">
        <div class="search-input col-md-12" >
            @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
            {
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="basic-search">
                            <div class="inputs">
                                @Html.LabelFor(model => model.q, new { }, ":")<br>
                                @Html.TextBoxFor(model => model.q, new { @class = "search-text" })
                            </div>
                            @Html.Widget("productsearch_page_basic")
                            @*<div class="inputs reversed">
                                @Html.CheckBoxFor(model => model.adv)
                                @Html.LabelFor(model => model.adv)
                            </div>*@
                        </div>
                        @*<div class="advanced-search" id="advanced-search-block">
                            @if (Model.AvailableCategories.Count > 0)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.cid, new { }, ":")
                                    @Html.DropDownListFor(model => model.cid, Model.AvailableCategories)
                                </div>
                                <div class="inputs reversed">
                                    @Html.CheckBoxFor(model => model.isc)
                                    @Html.LabelFor(model => model.isc)
                                </div>
                            }
                            @if (Model.AvailableManufacturers.Count > 0)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.mid, new { }, ":")
                                    @Html.DropDownListFor(model => model.mid, Model.AvailableManufacturers)
                                </div>
                            }
                            @if (Model.asv && Model.AvailableVendors.Count > 0)
                            {
                                <div class="inputs">
                                    @Html.LabelFor(model => model.vid, new { }, ":")
                                    @Html.DropDownListFor(model => model.vid, Model.AvailableVendors)
                                </div>
                            }
                            <div class="inputs">
                                <label>@T("Search.PriceRange"):</label>
                                <span class="price-range">
                                    @T("Search.PriceRange.From")
                                    @Html.TextBoxFor(model => model.pf, new { @class = "price-from" })
                                    @T("Search.PriceRange.To")
                                    @Html.TextBoxFor(model => model.pt, new { @class = "price-to" })
                                </span>
                            </div>
                            <div class="inputs reversed">
                                @Html.CheckBoxFor(model => model.sid)
                                @Html.LabelFor(model => model.sid)
                            </div>
                            @Html.Widget("productsearch_page_advanced")
                        </div>*@
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" class="button-1 search-button" value="@T("Search.Button")" style="    background-color: black;" />
                </div>
            }
        </div>
        @*@if (Model.Products.Count > 0)
        {
            @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
        }*@
        @Html.Widget("productsearch_page_before_results")
        <div class="search-results col-md-12">
            @if (!String.IsNullOrEmpty(Model.Warning))
            {
                <div class="warning">
                    @Model.Warning
                </div>
            }
            @if (Model.NoResults)
            {
                <div class="no-result">
                    @T("Search.NoResultsText")
                </div>
            }

            @if (Model.Products.Count > 0)
            {
                <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid")">
                    <div class="item-grid">
                        @foreach (var product in Model.Products)
                        {
                            <div class="item-box">
                                @Html.Partial("_ProductBoxCopy", product)
                            </div>
                        }
                    </div>
                </div>
            }
            @{
                var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("adv").BooleanParameterName("isc").BooleanParameterName("sid").RenderEmptyParameters(true);
            }
            @if (!pager.IsEmpty())
            {
                <div class="pager">
                    @pager
                </div>
            }
        </div>
        @Html.Widget("productsearch_page_after_results")
    </div>
</div>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/packery.pkgd.min.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/jquery.stellar.min.js"></script>
<script src="assets/js/my-instagram-gallery.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.inview.js"></script>
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/tweetie.min.js"></script>
<script src="assets/js/jquery.timeago.js"></script>
<script src="assets/js/jquery.knob.min.js"></script>
<script src="assets/js/css3-animate-it.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/jquery.prettyPhoto.js"></script>
<script src="assets/js/main.js"></script>
