@model IList<CategoryModel>

@using Nop.Web.Models.Catalog;
@using Nop.Core.Infrastructure;
@using Nop.Core;
@using Nop.Services.Configuration;

@{
    var storeId = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.Id;
    var categoriesLayout = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("tiffanythemesettings.categorieslayout", String.Empty, storeId, true);

    var homePageCategoriesCss = string.Empty;
    var homePageCategoriesBanner = MvcHtmlString.Empty;
    if (Model.Count > 0)
    {
        homePageCategoriesBanner = @Html.Widget("home_page_categories_banner");
        if (!MvcHtmlString.IsNullOrEmpty(homePageCategoriesBanner))
            homePageCategoriesCss = "banner-included";
    }
}

@if (Model.Count > 0)
{
    <div class="home-page-category-grid @homePageCategoriesCss @categoriesLayout">
        <div class="title">
            <strong>@T("SevenSpikes.Themes.Tiffany.Common.FeaturedCategories")</strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    <div class="category-item">
                        <h2 class="title">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                @item.Name
                            </a>
                        </h2>
                        <div class="picture">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                            </a>
                        </div>
                    </div>
                </div>
            }
            @homePageCategoriesBanner
        </div>
    </div>
}
