<div class="container">
    <div class="row">
        <div class="col-md-9 col-lg-9" id="home-page-left">
            <div class="row isotope">
                <div class="col-xs-6 col-sm-3 col-md-3 home-page-container isotope-item">
                    <a href="/whats-hawt-gladiator-sandals">
                        <img src="~/Themes/Prisma/Content/img/pr-17.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 home-page-container isotope-item">
                    <img src="~/Themes/Prisma/Content/img/pr-16.jpg">
                </div>
                @*<div class="col-sm-12 col-md-12 home-page-container isotope-item">
                        @Html.Widget("main_slider")
                    </div>*@
                <div class="col-xs-12 col-sm-12 col-md-8 col-xl-8 home-page-container isotope-item">
                    @Html.Widget("Editor-Pick")

                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-xl-4 home-page-container isotope-item">

                    @Html.Widget("HotStepper")
                </div>
                <div class="col-md-12 home-page-container isotope-item">
                    @Html.Widget("main_big_slider_four")
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 home-page-container isotope-item">
                    @Html.Widget("Beauty-Backstage")
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 home-page-container isotope-item">
                    @Html.Widget("Trending")
                </div>
                <div class="hidden-xs col-sm-3 col-md-3 home-page-container isotope-item">
                    <a href="/maternity-wear-celebrities-rocking-that-baby-bump-on-the-red-carpet">
                        <img src="~/Themes/Prisma/Content/img/pr-5.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 home-page-container isotope-item">
                    @Html.Widget("New-Arival")
                </div>
                @*<div class="col-xs-12 col-sm-6 col-md-6 home-page-container isotope-item">
                        <div class="promo-bottom">
                            <h3 class="promo-headline">Just-In Trainers</h3>
                            <span class="promo-link">SHOP TRAINERS </span>
                        </div>
                        <img src="~/Themes/Prisma/Content/img/pr-15.jpg">
                    </div>*@


                @*<div class="col-xs-12 col-sm-6 col-md-4 home-page-container">
                        <img data-original="//assets.matchesfashion.com/content/mf/ISSUES/2018/MENS/JUN/0606/HP/images/pr-2.jpg" class="" src="//assets.matchesfashion.com/content/mf/ISSUES/2018/MENS/JUN/0606/HP/images/pr-2.jpg" style="display: inline;">
                        <div class="promo-center">
                            <h3 class="promo-headline">Wardrobe Classics</h3>
                            <span class="promo-link">SHOP WARDROBE STAPLES</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 home-page-container">
                        <img data-original="//assets.matchesfashion.com/content/mf/ISSUES/2018/MENS/JUN/0606/HP/images/pr-2.jpg" class="" src="//assets.matchesfashion.com/content/mf/ISSUES/2018/MENS/JUN/0606/HP/images/pr-2.jpg" style="display: inline;">
                    </div>
                    <div class="hidden-sm col-md-4 home-page-container">
                        <div class="promo-bottom">
                            <h3 class="promo-headline">Laid-Back<br>London Style</h3>
                            <span class="promo-link">SHOP LONDON STYLE</span>
                        </div>
                        <img data-original="//assets.matchesfashion.com/content/mf/ISSUES/2018/MENS/JUN/0606/HP/images/pr-4.jpg" class="" src="//assets.matchesfashion.com/content/mf/ISSUES/2018/MENS/JUN/0606/HP/images/pr-4.jpg" style="display: inline;">
                    </div>*@

                @*<div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 home-page-container">
                        <div>
                            @Html.Widget("hotstrapper")
                            <div class="promo-center">
                                <h3 class="promo-headline">Wardrobe Classics</h3>
                                <span class="promo-link">SHOP WARDROBE STAPLES</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8 home-page-container">
                        @Html.Widget("main_big_slider_one")
                        <div class="home-page-container-vertical-align">
                            <p class="home-page-container-title">The Interview</p>
                            <p class="home-page-container-headline">MARTINE ROSE</p>
                            <p class="home-page-container-description-dis">The founder of the label-of-the-moment talks 1990s club culture and the new trouser shape. </p>
                            <span class="home-page-container-link">READ AND SHOP NOW</span>
                        </div>
                    </div>*@
                @*<div class="col-xs-12 col-sm-6 col-md-6  home-page-container isotope-item">
                        <div class=" text-center">
                            @* @Html.Widget("main_big_slider_two_1")
                            <img style="max-width:100%" src="//cdn.thinglink.me/api/image/1060168556051693570/1024/10/scaletowidth#tl-1060168556051693570;'" class="alwaysThinglink" />
                            <script async charset="utf-8" src="//cdn.thinglink.me/jse/embed.js"></script>

                            <div class="main-page-detail">
                                <h6 class="product-short-desc-2 no-margin ">
                                    Expert advice
                                </h6>
                                <h6 class="product-short-desc-2  ">
                                    Discover the secret beauty rituals of an A-list makeup artist
                                </h6>
                                <p class="text-link-story ">
                                    Read & shop
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6  home-page-container isotope-item">
                        <div class="text-center">
                            <img style="max-width:100%" src="//cdn.thinglink.me/api/image/1059957462150414338/1024/10/scaletowidth#tl-1059957462150414338;'" class="alwaysThinglink" />
                            <div class="main-page-detail">
                                <h6 class="product-short-desc-2 no-margin ">
                                    The right track
                                </h6>
                                <h6 class="home-page-container-description-dis">
                                    Discover the secret beauty rituals of an A-list makeup artist
                                </h6>
                                <p class="text-link-story ">
                                    Read & shop
                                </p>
                            </div>

                        </div>
                    </div>*@

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  ratio-box isotope-item">
                    @*@Html.Action("HomepageCatalog", "Catalog")*@
                    @Html.Partial("_HomePageCatalog")
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3" id="home-page-right">
            <div class="col-xs-12 col-sm-12 col-md-12 home-page-container-right text-center">
                <div class="promo-comming-soon color-black">
                    <p class="offer-headline">Announcing Soon</p>
                    <h3 class="offer-headline" id="demo"></h3>
                    <div class="offer-email">
                        <input class="newsletter-subscribe-text" id="offer-email" name="NewsletterEmail" placeholder="Enter your email here..." type="text" value="">
                        <input type="button" value="Notify Me" onclick="Offer_Subscribe()" class="button-1 offer-subscribe-button">
                    </div>

                    <script>
                        function Offer_Subscribe() {
                            var email = $("#offer-email").val();
                            $.post("/OfferSubscribe", { email: email }).done(function (data) {
                                alert(data.Result);
                            });
                        }
                    </script>

                </div>

                @Html.Widget("CountDown")
                <img id="hotstepper" src="~/Themes/Prisma/Content/img/pr-8.jpg">
            </div>
            <div class="ratio-box">
                @Html.Widget("prisma_home_page_two_columns")
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
                        //jQuery(document).ready(function () {
                        //    jQuery('#home-page-left, #home-page-right').theiaStickySidebar({
                        //        // Settings
                        //        additionalMarginTop: 180
                        //    });
                        //});


                        //$(window).resize(function () {
                        //    Equalheight()

                        //});



                        //function Equalheight() {
                        //    if ($(window).width() > 991) {
                        //        $(".home-page-container").find('img').height($("#hotstepper").height()).css('width', '100%');
                        //    }
                        //    else {
                        //        $(".home-page-container").find('img').css('height', 'auto').css('width', 'auto');
                        //    }

                        //}


                        var $grid = $('.isotope').imagesLoaded(function () {
                            // init Isotope after all images have loaded
                            Equalheight();
                            $grid.isotope({
                                // options
                                itemSelector: '.isotope-item',
                                layoutMode: 'packery',
                            });
                        });



                        //// Set the date we're counting down to
                        //var countDownDate = new Date("Sep 5, 2018 15:37:25").getTime();

                        //// Update the count down every 1 second
                        //var x = setInterval(function () {

                        //    // Get todays date and time
                        //    var now = new Date().getTime();

                        //    // Find the distance between now an the count down date
                        //    var distance = countDownDate - now;

                        //    // Time calculations for days, hours, minutes and seconds
                        //    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                        //    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        //    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        //    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        //    // Display the result in the element with id="demo"
                        //    document.getElementById("demo").innerHTML = days + " : " + hours + " : "
                        //        + minutes + " : " + seconds + " ";

                        //    // If the count down is finished, write some text
                        //    if (distance < 0) {
                        //        clearInterval(x);
                        //        document.getElementById("demo").innerHTML = "EXPIRED";
                        //    }
                        //}, 1000);




</script>



@*<div class="promo-top">
        <h3 class="promo-headline">Laid-Back<br>London Style</h3>
        <span class="promo-link">SHOP LONDON STYLE</span>
    </div>*@



@*<div class="promo-bottom">
        <h3 class="promo-headline">Slick Accessories By Givenchy</h3>
        <span class="promo-link">SHOP GIVENCHY</span>
    </div>*@


@*<div class="home-page-container-vertical-align">
        <p class="home-page-container-title">The Interview</p>
        <p class="home-page-container-headline">MARTINE ROSE</p>
        <p class="home-page-container-description-dis">The founder of the label-of-the-moment talks 1990s club culture and the new trouser shape. </p>
        <span class="home-page-container-link">READ AND SHOP NOW</span>
    </div>*@